<div class="form-container">
    <div class="col-xl-4 col-md-6 col-10 mx-auto">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title"> {{ 'formText.signUpTitle' | translate }} </h2>
                <a routerLink="/login" class="btn btn-link transition bottom-15">
                    {{ 'formText.singInLink' | translate }}
                </a>

                <form [formGroup]="signUpForm" (ngSubmit)="fnSignUp()" ngxsForm="form.signup" class="text-left">
                    <div class="form-group">
                        <input id="email" class="form-control checking-field"
                            [placeholder]="'formText.emailPlaceHolder' | translate" type="email"
                            formControlName="email">
                        <ng-container *ngIf="controls.email.errors && controls.email.touched">
                            <span class="help-block text-danger" *ngIf="controls.email.errors.required">
                                {{ 'formText.emailRequired' | translate }}
                            </span>
                            <span class="help-block text-danger"
                                *ngIf="!controls.email.errors.required && controls.email.errors.emailId">
                                {{ 'formText.emailInvalid' | translate }}
                            </span>
                        </ng-container>
                    </div>

                    <div class="form-group">
                        <input id="pwd" class="form-control checking-field"
                            [placeholder]="'formText.passwordRequired' | translate" type="password"
                            formControlName="password">
                        <ng-container *ngIf="controls.password.errors && controls.password.touched">
                            <span class="help-block text-danger" *ngIf="controls.password.errors.required">
                                {{ 'formText.passwordRequired' | translate }}
                            </span>
                            <span class="help-block text-danger" *ngIf="controls.password.errors.minlength">
                                {{ 'formText.passwordMinLength' | translate }}
                            </span>
                            <span class="help-block text-danger"
                                *ngIf="controls.password.errors.strongPassword && controls.password.value !== ''">
                                {{ 'formText.passwordStrong' | translate }}
                            </span>
                        </ng-container>
                    </div>


                    <div class="form-group">
                        <input id="confirmPassword" class="form-control checking-field" type="password"
                            [placeholder]="'formText.confirmPasswordPlaceHolder' | translate"
                            formControlName="confirmPassword"
                            [ngClass]="{'is-invalid':controls.confirmPassword.errors && controls.confirmPassword.touched || (controls.confirmPassword.errors && controls.confirmPassword.value)}">
                        <ng-container *ngIf="controls.confirmPassword.errors && controls.confirmPassword.touched">
                            <span class="help-block text-danger" *ngIf="controls.confirmPassword.errors.required">
                                {{ 'formText.confirmPasswordRequired' | translate }}
                            </span>
                            <span class="help-block text-danger" *ngIf="controls.confirmPassword.errors.isMatch">
                                {{ 'formText.confirmPasswordNotMatch' | translate }}

                            </span>
                        </ng-container>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-main btn-block" [disabled]="!signUpForm.valid">
                            <span *ngIf="!isLoading"> {{ 'Confirm' | translate }}</span>
                            <i *ngIf="isLoading" class="fa fa-circle-o-notch fa-spin fa-fw fa-lg"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>