<div class="clearfix">
    <!-- <span class="text-uppercase pull-left here">you are here :</span> -->
    <ol class="breadcrumb">
        <li *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item text-capitalize">
            <a [hidden]="i == (breadcrumbs.length - 1)"
                [routerLink]="[breadcrumb.url]">{{breadcrumb.name | translate}}</a>
            <span [hidden]="i != (breadcrumbs.length - 1)"><b>{{breadcrumb.name | translate}}</b></span>
        </li>
    </ol>
</div>